@import url('https://fonts.cdnfonts.com/css/switzer');

.menu .element a{
    font-size: 1.3rem;
    font-family: Segoe UI, Serif, serif;
    font-weight: 500;
    text-decoration: none;
    color: #6d6a7f;
}

.menu:hover{
    cursor: pointer;
}

.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.2rem;
    color: #6d6a7f;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
}
.menu .disable{
    border-bottom:3px solid black;
    padding-bottom:2px;
}
.menu .disable a{
    font-weight: 700;
    font-size: 1.3rem;
    text-decoration: none;
    font-family: Segoe UI, Serif;
    color: black;
}
