@import url('https://fonts.cdnfonts.com/css/switzer');
@import url('https://fonts.cdnfonts.com/css/monument-extended');

:root{
    --rounded-corner: 0.25rem;
    --title-blue-2: #113057;
    --title-blue-1: #2121bb;
}

*, .body, .container {
    background-color: #f8f8f8;
}

.competition, .competition div, .competition img {
    background-color: white;
}

.link-none, .link-none:hover{
    color:unset;
    text-decoration: none;
}

#title{
    color: var(--title-blue);
    font-family: Switzer, serif;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 50px;
}

.competition{
    display: block;
    top: 0px;
    position: relative;
    width: 345px;
    background-color: white;
    border-radius: 5px;
    padding: 1.7rem 1.4rem;
    margin: 0.7rem;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    border: 1px solid #d9d6d6;
}

/*COMPETIZIONE text*/
.comptext{
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, serif;
    color: #6d6a7f;
    font-size: 1.2rem;
    font-weight: bold;
}


/*Categoria del testo dentro il div, es Serie A*/
.catext{
    font-weight: bold;
    font-size: 1.4rem;
}


.competition:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -10px;
    background-color: white;
    border-radius: var(--rounded-corner);
    border: 3px solid #6d6a7f;
    /*border: 3px solid var(--title-blue);*/
    cursor: pointer;
    font-size: 1.5rem;
 }

.competition:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
 }

.competition:hover:before {
    transform: scale(2.15);
 }