@import url('https://fonts.cdnfonts.com/css/switzer');
@import url('https://fonts.cdnfonts.com/css/monument-extended');

:root{
    --title-blue: #113057;
    --squadre: #1616e8;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

#head2head{
    background-color: white;
}

#head2head .row:hover{
    background-color: rgb(209, 230, 238, .4);
}

.competition{
    background-color: white;
}

#time{
    font-size: 1rem;
    color: #817f7f;
    font-weight: bold;
}

#title{
    color: var(--title-blue);
    font-family: 'Monument Extended', serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    margin-top: 50px;
}

#squadre{
    text-decoration: unset;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Switzer, serif;
}

#squadree{
    text-decoration: unset;
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Switzer, serif;
}

#squadre:hover{
    font-size: 1.7rem;
    color: #1818af;
    cursor: pointer;
}


#head2head #status{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Switzer, serif;
}
